@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/*Header*/
.dm-color-header-sony{
    background-color: #000;
}

.dm-bg-white{
    background-color: #fff;
}

.dm-logo-color{
    width: 70px;
    height: 30px;
    filter: invert(0);
}

.dm-txt-black{
    text-decoration: none;
    color: #000;
}

.dm-chevron-size{
    width: 10px;
}

.dm-lens-size{
    width: 30px;
    margin-left: 10px;
}


/*Buttons*/
.dm-button-black{
    background-color: #000;
}

.dm-button-orange{
    background-color: #cd3d0f;
    cursor: pointer;    
}

.dm-button{
    display: flex;
    justify-content: center;
    width: 30%;
    border-radius: 50px;
    padding: 1%;
    animation: 2s;
}

.dm-button:hover .dm-inside-button{
    border: 2px solid #fff;
    color: #fff;
}

.dm-inside-button{
    text-decoration: none;
    width: 110px;
    color: #fff;
    background-color: none;
    border-radius: 50px;
}

.dm-button-wd{
    width: 100%;
}
/*Fine Buttons*/



/*Jumbo 1*/
.dm-jumbo1{
    margin-top: 120px;
    background-image: url(img/jumbo-bg.png);
    min-height: 750px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.dm-game-name{
    width: 55%;
}

.dm-fs-h1{
    font-size: 40px;
}

.dm-fs-p{
    font-size: 20px;
}
/*Fine Jumbo 1*/

/*Immagini games*/
.dm-wd-items{
    width: 100%;
    border-radius: 20px;
}

.dm-up {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    cursor: pointer;
  }

.dm-up:hover{
    top: -10px;
}

.dm-img-active{
    border: 3px solid #fff;
    outline: 3px solid #0072ce;
    border-radius: 20px;
}
/*Fine immagini games*/

.dm-txt-color-lightblue{
    color: #127cd1;
}

.dm-txt-color-grey{
    color: #818181;
}