@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

.dm-pointer{
    cursor: pointer;
}

/*Header*/
.dm-color-header-sony, .dm-bg-black{
    background-color: #000;
}

.dm-bg-white{
    background-color: #fff;
}

.dm-logo-color{
    width: 70px;
    height: 30px;
    filter: invert(0);
}

.dm-chevron-size{
    width: 10px;
}

.dm-lens-size{
    width: 30px;
    margin-left: 10px;
}

/*.dm-play-h:hover{
    box-shadow: inset 0 0 0 3px #000;
}*/

.nav-link:hover span{
    color: #2d64e6;
}

.nav-link.show span{
    color: #2d64e6;
}

.nav-link.show .dm-showed{
    transform: rotate(180deg);
    filter: invert(33%) sepia(71%) saturate(4100%) hue-rotate(216deg) brightness(95%) contrast(90%);
}

.dm-a-link{
    text-decoration: none;
    color: #000;
}

.dropdown-divider .dropdown-item .row a:hover{
    color: #2d64e6;
}

.dm-ps-shadow{
    transition: .2s;
}

.dm-ps-shadow:hover{
    box-shadow: 0 0 10px 4px rgb(102, 102, 102);
}


/*Buttons*/
.dm-button-black{
    background-color: #000;
    width: 100px;
}

.dm-button-orange{
    background-color: #cd3d0f;
    width: 150px;
}

.dm-button-blue{
    background-color: #2d64e6;
    width: 200px;
}

.dm-btn-play4{
    background-color: #2d64e6;
    width: 130px;
}

.dm-button-grey{
    background-color: #d9dadc;
    width: 250px;
}

.dm-button-white{
    background-color: #fff;
    width: 250px;
}

.dm-button-grey a button{
    color: #2d64e6;
}


.dm-button{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 5px;
    animation: 2s;
    cursor: pointer;   
}

.dm-button:hover .dm-inside-button{ 
    color: #fff;
    box-shadow: 0 0 0px 2px #fff;
}

.dm-button:hover .dm-inside-button-orange{
    color: #fff;
    box-shadow: 0 0 0px 2px #000;
}

.dm-button-grey:hover{
    -moz-box-shadow:    inset 0 4 5px #9c9c58;
    -webkit-box-shadow: inset 0 0 5px #9c9c58;
    box-shadow:         inset 0 0 5px #9c9c58;
    border-radius: 50px;
}

.dm-button-white:hover{
    -moz-box-shadow:    inset 0 0 8px #000;
    -webkit-box-shadow: inset 0 0 8px #000;
    box-shadow:         inset 0 0 8px #000;
    border-radius: 50px;
}

.dm-inside-button, .dm-inside-button-orange{
    text-decoration: none;
    color: #fff;
    background-color: none;
    border-radius: 50px;    
}

.dm-button-wd, .dm-wd-100{
    width: 100%;
}
/*Fine Buttons*/



/*Jumbo 1*/
.dm-jumbo1{
    margin-top: 120px;
    background-image: url(img/jumbo-bg.png);
    min-height: 750px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.dm-game-name{
    width: 55%;
}

.dm-fs-h1{
    font-size: 40px;
}

.dm-fs-p{
    font-size: 20px;
}
/*Fine Jumbo 1*/

/*Immagini games*/
.dm-wd-items{
    width: 100%;
    border-radius: 20px;
}

.dm-up {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    cursor: pointer;
  }

.dm-up:hover{
    top: -10px;
}

.dm-img-active{
    border: 3px solid #fff;
    outline: 3px solid #0072ce;
    border-radius: 20px;
}
/*Fine immagini games*/

/*Sezione presentazione Play 5*/
.dm-txt-color-lightblue{
    color: #127cd1;
}

.dm-txt-color-grey{
    color: #818181;
}

.dm-margin-t{
    margin-top: 100px;
}

.dm-fs-span-play5, .dm-fs-gadget{
    font-size: 20px;
}

.dm-img-wd-70{
    width: 70%;
}

/*Gestione gadget active*/
.dm-gadget-active{
    border-bottom: 2px solid #0072ce;
}

.dm-gadget{
    opacity: .7;
    transition: 1s;
}

.dm-gadget:hover{
    opacity: 1;
}

/*Jumbo 2*/
.dm-jumbo2{
    margin-top: 120px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 750px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.copyright{
    position: relative;
    top: -15px;
}

/*Playstation 4*/
.dm-fs-span-play4{
    font-size: 23px;
}

/*Playstation Plus*/
.dm-bg-grey{
    background-color: #bebcbb;   
}

.dm-logo-ps-plus{
    width: 50%;
}

.dm-fs-p-plus{
    font-size: 18px;
}
/*Fine PlayStation Plus*/

/*Sezione PlayStation Now*/
.dm-bg-ps-now{
    background-color: #161c3b;   
}

.dm-wd-social{
    width: 60%;
}


/*Footer*/
.dm-footer-color{
    background-color: #00439c;
    padding: 100px 10px;
}

.dm-size-globe{
    width: 15px;
    height: 15px;
}

.dm-wd-sie-logo{
    width: 100px;
}

.dm-fs-rights{
    font-size: 17px;
}
